# Copier ce fichier en .env et remplir les valeurs
# NE JAMAIS mettre .env sur GitHub !

# MongoDB Atlas - coller l URI de connexion
MONGODB_URI=mongodb+srv://admin:MOT_DE_PASSE@cluster0.xxxxx.mongodb.net/weather_station

# Cle API - doit correspondre au code Wokwi
API_KEY=iot-secret-2024

# Port (Vercel le gere automatiquement)
PORT=3000
